<app-admin-header></app-admin-header>
<div class="row" style="width: 100%;">
    <div class="col-md-3">
        <app-admin-navigation></app-admin-navigation>
    </div>
    <div class="col-md-9 " style="padding-top: 100px;">
        <p-toast position="bottom-center"></p-toast>
    <div *ngIf= "!displayAllergyForm">
        <section class="cotainer">
            <h2 class="mb-5">Current Medications:</h2>
            <!-- <form [formGroup]="medForm" (submit)="submit_med()"> -->
            <form [formGroup]="medForm">
                <div class="form-group row">
                    <label for="drugName" class="col-sm-3 col-form-label">Medicine Name:</label>
                    <input type="text" list="currentMeds"  formControlName="drugName" class="form-control col-sm-9"  (change)="setValues($event,'medicine')">
                    <datalist id="currentMeds">
                        <option *ngFor="let p of med" value="{{p.DrugName}}">{{p.DrugName}}</option>
                    </datalist>
                </div>
                <div class="form-group row">
                    <label for="drugStrength" class="col-sm-3 col-form-label">Strength:</label>
                    <input type="text" list="currentMedStrength" formControlName="drugStrength" class="form-control col-sm-9" [disabled]="disableMediFields" [readOnly]="disableMediFields">
                    <datalist id="currentMedStrength">
                        <option *ngFor="let p of med" value="{{p.Strength}}">{{p.Strength}}</option>
                    </datalist>
                </div>
                <div class="form-group row">
                    <label for="drugForm" class="col-sm-3 col-form-label">Form:</label>
                    <input type="text" list="currentMedsForm" formControlName="drugForm" class="form-control col-sm-9" [readOnly]="disableMediFields" [disabled]="disableMediFields">
                    <datalist id="currentMedsForm">
                        <option *ngFor="let p of med" value="{{p.Form}}">{{p.Form}}</option>
                    </datalist>
                </div>
                <div class="text-right">
                    <input type="button" class="btn btn-primary" style="border-radius: 5px;" value="Add" (click)="addDataMed(medForm)">
                </div>
            </form>

        </section>

        <section class="conatiner my-5">
            <h2>Current Medications List:</h2>
            <table class="table table-striped  table-responsive-sm  my-5">
                <thead class="gradient-custom-2 text-white">
                    <tr>
                        <th>Sr.No.</th>
                        <th>Drug Name</th>
                        <th>Strength</th>
                        <th>Form</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let m of currentMedDetails; let i = index">
                        <th>{{i + 1}}</th>
                        <td>{{m.drugName}}</td>
                        <td>{{m.drugStrength}}</td>
                        <td>{{m.drugForm}}</td>
                        <td><button type="button" class="btn btn-danger" (click)="deleteMedicatios(m)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <input type="button" class="btn btn-primary" value="Submit Medications" (click)="submit_med()"> -->
        <div class="text-right">
            <input type="button" class="btn btn-success" style="border-radius: 5px;" value="Save & Next" (click)="addAllergiesData()">
        </div>
        </section>
    </div>
        <!-- <hr class="mb-5"> -->
    <div *ngIf= "displayAllergyForm">
        <section class="cotainer">
            <h2 class="mb-5">Allergies:</h2>
            <form [formGroup]="allergiesForm">
                <div class="form-group row">
                    <label for="allergyName" class="col-sm-3 col-form-label">Allergy Name:</label>
                    <input type="text" list="allergiesName"  formControlName="allergyName" class="form-control col-sm-9" (change)="setValues($event,'allergies')">
                    <datalist id="allergiesName">
                        <option *ngFor="let a of allergiesData" value="{{a.allergyName}}">{{a.allergyName}}</option>
                    </datalist>
                </div>
                <div class="form-group row">
                    <label for="allergyType" class="col-sm-3 col-form-label">Allergy Type:</label>
                    <input type="text" list="allergiesType" formControlName="allergyType" class="form-control col-sm-9">
                    <datalist id="allergiesType">
                        <option *ngFor="let a of allergiesData" value="{{a.allergyType}}">{{a.allergyType}}</option>
                    </datalist>
                </div>
                <div class="form-group row">
                    <label for="allerginicity" class="col-sm-3 col-form-label">Allerginicity:</label>
                    <input type="text" list="allergenicities" formControlName="allerginicity"
                        class="form-control col-sm-9">
                    <datalist id="allergenicities">
                        <option *ngFor="let a of allergiesData" value="{{a.Allerginicity}}">{{a.Allerginicity}}</option>
                    </datalist>
                </div>
                <!-- <input type="submit" class="btn btn-primary" value="Submit"> -->
                <div class="text-right">
                    <input type="button" class="btn btn-primary" style="border-radius: 5px;" value="Add" (click)="addDataAlle(allergiesForm)">
                </div>
            </form>

        </section>

        <section class="conatiner my-5">
            <h2>Allergies List:</h2>
            <ng-container >
                <table class="table table-striped  table-responsive-sm  my-5">
                    <thead class="gradient-custom-2 text-white">
                        <tr>
                            <th>Sr.No.</th>
                            <th>Allergy Name</th>
                            <th>Allery Type</th>
                            <th>Allerginicity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let al of allergyDetails; let i = index">
                            <th>{{i + 1}}</th>
                            <td>{{al.allergyName}}</td>
                            <td>{{al.allergyType}}</td>
                            <td>{{al.allerginicity}}</td>
                             <td><button type="button" class="btn btn-danger" (click)="deleteAllergies(al)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
                <!-- <input type="button" class="btn btn-primary" value="Submit Details" (click)="submit_allergies()"> -->
                <input type="button" class="btn btn-secondary" style="border-radius: 5px;" value="Previous" (click)="previousPage()">
                <input type="button" class="btn btn-success float-right" style="border-radius: 5px;" value="Submit Details" (click)="submitAllData()">
            </ng-container>

            <!-- <ng-container *ngIf="!allergyDetails">
                <img src='assets/Images/no records.webp' style="height: 500px;width: 600px;">
            </ng-container> -->


        </section>

    </div>