/* .card-counter {
  box-shadow: 2px 2px 10px #dadada;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: 0.3s linear all;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #dadada;
  transition: 0.3s linear all;
}

.card-counter.primary {
  background-color: #007bff;
  color: #fff;
}

.card-counter i {
  font-size: 5em;
  opacity: 0.2;
}

.card-counter .count-numbers {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.card-counter .count-name {
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}

.rows {
  display: flex;
  flex-wrap: wrap;
  margin-right: 122px;
  margin-left: -33px;
  margin-top: 2px;
  height: 59px !important;
}

:host ::ng-deep .p-frozen-column {
  font-weight: bold;
}
:host ::ng-deep .p-datatable-frozen-tbody {
  font-weight: bold;
}

.btn {
  padding-left: 160px;
  height: 80px;
}

.myCard {
  margin-left: 159px;
  margin-top: 120px;
}

@media only screen and (max-width: 600px) {
  .btn {
    padding-left: 50px;
    height: 60px;
  }

  .myCard {
    margin-left: 20px;
    margin-top: 120px;
  }
} */
.status {
  height: 40px;
  width: 40px;
}
