<app-admin-header></app-admin-header>
<div class="row" style="width: 100%;">
  <div class="col-md-3">
    <app-admin-navigation></app-admin-navigation>
  </div>
  <div class="col-md-9 " style="padding-top: 100px;">
<table class="table table-striped table-responsive-sm">
    <thead class="gradient-custom-2 text-white">
      <tr>
        <th>Sr.No.</th>
        <th>PATIENT NAME</th>
        <th>DATE & TIME</th>
        <th>TYPE</th>
        <th>STATUS</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of aptDetails; let i = index">
        <td>{{i + 1}}</td>
        <td>{{a.username}}</td>
        <!-- <td>{{a.schedule_time}}</td> -->

        <td>{{a.schedule_time | date:'short'}}</td>
        <td>{{a.type}}</td>
        <!-- <td>Ongoing</td> -->
        <td [ngStyle]="{'color':(a.status =='Ongoing') ? 'rgb(245 138 27) ' : 'green' }" style="font-weight: bold;">{{a.status}}</td>
        <td><a  [routerLink]="['/patientOverview',a.username,a.schedule_time]"  class="btn btn-link">Patient Details</a></td>
      </tr>
    
    </tbody>
  </table>